<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>

<body>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sint eos molestiae et deserunt excepturi ipsa, recusandae beatae mollitia! Eum minima expedita natus commodi, repudiandae tenetur eaque exercitationem id voluptate?
        </p>
        <button>Left</button>
        <button>right</button>
    </div>
</body>

</html>