<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.min.css">
    <title>
        <%= title%>
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center">Welcome to BISIMWA Grace's platform</h1>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <img src="https://avatars.githubusercontent.com/u/58594917?v=4" class="img-fluid center-img"
                        alt="My Avatar">
                </div>
                <div class="col-md-8">
                    <h1>Who is <%= title %>?</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae error asperiores quos expedita,
                        maiores numquam tenetur ex placeat eos eum fugit sint, consequatur repudiandae nihil quo nostrum
                        provident? Iusto, id!
                    </p>
                </div>
            </div>
            <div class="bg-warning py-5 row">
                <div class="col-md-6">
                    <h2>Where i may coming from?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rerum aliquid exercitationem
                        ipsa adipisci laudantium. Dolore rerum possimus sequi quas, ipsa animi, eos sunt eum ut cumque
                        ea accusantium molestiae.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Why i may chose Computer Science?</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab incidunt, quam praesentium, placeat
                        ex reprehenderit eaque veritatis exercitationem id natus tempora illo fuga nihil, suscipit quis
                        odit eveniet maxime fugit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-success py-5 container-fluid">
        <h3 class="text-center">
            <%= title %>
        </h3>
    </div>
</body>

</html>